 <!-- nav -->
 <section class="top-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
          <div class="container">
            <a class="navbar-brand" href="/">TiguS</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
          
              <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/menu">Menu</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/picorder">Order Online</a>
                </li>

                <!-- <li class="nav-item">
                  <a href="#" class="fas fa-sign-in nav-link btn btn-outline-seccess" data-bs-toggle="modal" data-bs-target="#loginModal"></a>
                </li> -->

                <li class="nav-item">
                  <a href="#" class="fas fa-shopping-cart nav-link btn btn-outline-seccess" data-bs-toggle="modal" data-bs-target="#cartModal" onclick="opencart()"> Cart</a>
                </li>

                <li class="nav-item">
                  <form class="nav-link" method="post" action="/logout">
                    <button class="mb-2 fas fa-sign-out dropdown-item btn btn-light"> Sign out</button>
                    <!-- <a class="dropdown-item" href="#">Sign out</a> -->
                  </form>
                </li>
              </ul>
            </div>
          </div>

          <!-- Modal -->

              <!-- Cart Modal -->
              <div
              class="modal fade"
              id="cartModal"
              tabindex="-1"
              aria-labelledby="cartModalLabel"
              aria-hidden="true"
              >
              <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content" >
                  <div class="modal-header">
                      <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                      <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      ></button>
                  </div>
                  <form id="cart-form" action="/order" method="post">
                    <div class="modal-body" id="mycart">
                      <!-- cart item -->
                    </div>
                  </form>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Checkout</button>
                  </div>
                  </div>
              </div>
              </div>

          <!-- end Modal -->
        </nav>
  </section>
  <!-- end nav -->