<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Delivery</title>

    <!-- bootstarp link -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/delivery.css">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

      <!-- font awsome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

     <!-- nav -->
     <section class="top-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container">
              <a class="navbar-brand" href="/">TiguS</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarNav">
            
                <ul class="navbar-nav ms-auto">
  
                  <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu</a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link" href="/picorder">Order Online</a>
                  </li>
  
                  <!-- <li class="nav-item">
                    <a href="#" class="fas fa-sign-in nav-link btn btn-outline-seccess" data-bs-toggle="modal" data-bs-target="#loginModal"></a>
                  </li> -->
  
                  <li class="nav-item">
                    <a href="#" class="fas fa-shopping-cart nav-link btn btn-outline-seccess" data-bs-toggle="modal" data-bs-target="#cartModal" onclick="opencart()"> Cart</a>
                  </li>
  
                  <li class="nav-item">
                    <form class="nav-link" method="post" action="/logout">
                      <button class="mb-2 fas fa-sign-out dropdown-item btn btn-light"> Sign out</button>
                      <!-- <a class="dropdown-item" href="#">Sign out</a> -->
                    </form>
                  </li>
                </ul>
              </div>
            </div>
  
            <!-- Modal -->
  
                <!-- Cart Modal -->
                <div
                class="modal fade"
                id="cartModal"
                tabindex="-1"
                aria-labelledby="cartModalLabel"
                aria-hidden="true"
                >
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body" id="mycart">
                      <!-- cart item -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" action="/order" class="btn btn-success">Checkout</button>
                    </div>
                    </div>
                </div>
                </div>
  
                <!-- Login Modal -->
                <!-- <div
                class="modal fade"
                id="loginModal"
                tabindex="-1"
                aria-labelledby="cartModalLabel"
                aria-hidden="true"
                >
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
  
                        <div class="modal-body p-5 pt-0">
                            <form class="" action="/login" method="post">
                            <div class="form-floating mb-3">
                                <input name="usersname" type="text" class="form-control rounded-3" id="floatingInput" placeholder="username">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">Sign up</button>
  
                            <small class="text-muted">You didn't have an account ? <a href="/register">Register</a></small>
                            </form>
                        </div>
                    </div>
                </div>
                </div> -->
  
            <!-- end Modal -->
          </nav>
    </section>
    <!-- end nav -->

    <!-- delivery -->
    <section class="delivery">
      <div class="container my-5">
        <h2 class="pb-2 mb-4 border-bottom text-center">Delivery</h2>
        <div class="row m-4 p-5 align-items-center rounded-3 border shadow-lg">
          <div class="container">
            <div class="row row-cols-1">
              
              <div class="col-4 text-center">
                On Cooking
              </div>
              <div class="col-4 text-center">
                Rider take your Order
              </div>
              
              <div class="col-4 text-center">
                Order arrive
              </div>
            </div>
            <div class="progress-stacked">
              <div id="progress" class="progress" role="progressbar" aria-label="Delivery progress" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 0;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          
          <a class="dropdown-item" href="#" data-value="15">On Cooking</a>
          <a class="dropdown-item" href="#" data-value="50">Rider take your Order</a>
          
          <a class="dropdown-item" href="#" data-value="100">Order arrive</a>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSS_GFpoO/unei6ivunT7T1TmIrzVdggX0kl1moIcQ2s2viK6XgU" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+zJ3DhEGXshi9" crossorigin="anonymous"></script>





      <script>
        document.addEventListener('DOMContentLoaded', function () {
          // Get the progress bar element
          const progress = document.getElementById('progress');
      
          // Get the dropdown button
          const dropdownButton = document.getElementById('dropdownMenuButton');
      
          // Get the dropdown menu
          const dropdownMenu = document.querySelector('.dropdown-menu');
      
          // Add a click event listener to the dropdown menu
          dropdownMenu.addEventListener('click', (event) => {
            // Check if the clicked element is a dropdown item
            if (event.target.classList.contains('dropdown-item')) {
              // Prevent the default link behavior
              event.preventDefault();
      
              // Get the value of the clicked dropdown item
              const value = event.target.dataset.value;
      
              // Update the width of the progress bar
              progress.firstElementChild.style.width = value + '%';
      
              // Update the button text to show the current status
              dropdownButton.innerText = event.target.innerText;
            }
          });
        });
      </script>

        <div class="container">
            <div class="row p-4  pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
              <div class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7553.947284535537!2d98.9501889738823!3d18.79932794898874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a68355ea91f%3A0xd393197b614f8352!2sChiang%20Mai%20University!5e0!3m2!1sen!2sth!4v1678041974167!5m2!1sen!2sth" width="1090" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
        </div>
    </section>
    <!-- end delivery -->
    
    
     <!-- footer -->
     
     <!-- end footer -->

    <!-- bootstrap js -->
   
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/js.js"></script>
</body>
</html>