<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Delivery</title>

    <!-- bootstarp link -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

      <!-- font awsome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

     <!-- nav -->
     <%- include("partials/header") %>
    <!-- end nav -->

    <!-- delivery -->
    <section class="delivery">
        <div class="container my-5">
            <h2 class="pb-2 mb-4 border-bottom text-center">Delivery</h2>
            <div class="row m-4 p-5 align-items-center rounded-3 border shadow-lg">
              <div class="container">
                <div class="row row-cols-3">
                  <div class="col text-center text-success">
                    On Cooking 
                  </div>
                  <div class="col text-center">
                    Rider take your order
                  </div>
                  <div class="col text-center">
                    Order arrived
                  </div>
                  
                  
                </div>
                <div class="progress-stacked">
                  <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                    <div class="progress-bar bg-success"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row p-4  pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
              <div class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7553.947284535537!2d98.9501889738823!3d18.79932794898874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a68355ea91f%3A0xd393197b614f8352!2sChiang%20Mai%20University!5e0!3m2!1sen!2sth!4v1678041974167!5m2!1sen!2sth" width="1245" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
        </div>
    </section>
    <!-- end delivery -->

     <!-- footer -->
     <%- include("partials/footer") %>
     <!-- end footer -->

    <!-- bootstrap js -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/js.js"></script>
</body>
</html>