<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="/css/menu.css" /> -->
    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <!-- js -->
    <script src="/js/menu.js"></script>
    <!-- sweet aleart -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- bootstarp link -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- nav -->
    <%- include("partials/header") %>
    <!-- end nav-->

    <!--catagory-->
    <section class="catagory">
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 mb-5 border-bottom text-center">All menu - Menu catagory</h2>
        <div class="container">
            </div>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 mb-4">
                <div class="col-3 text-center">
                    <a onclick="searchproduct('all')" class="btn  btn-lg btn-outline-success">All Menu</a>
                </div>
                <div class="col-3 text-center">
                    <a onclick="searchproduct('mainDish')" class="btn  btn-lg btn-outline-success">Main Dish</a>
                </div>
                <div class="col-3  text-center">
                    <a onclick="searchproduct('sideDish')" class="btn  btn-lg btn-outline-success">Side Dish</a>
                </div>
                <div class="col-3  text-center">
                    <a onclick="searchproduct('beverage')" class="btn  btn-lg btn-outline-success">Beverage</a>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 " id="productlist" style="border-radius:1.5rem">
                
                
            </div>
      </div>
    </section>
    <!-- end catagory -->

    <!-- footer -->
    <%- include("partials/footer") %>
    <!-- end footer -->

    <!-- bootstrap js -->
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
