<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

     <!-- bootstarp link -->
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <section class="order mt-4">
        <div class="container">
            <h2 class="pb-2 mb-4 border-bottom text-center">Registration</h2>
        
            <div class="row g-5">
                
                <div class=" p-5 rounded-3 border shadow-lg">
                    
                    
                    <form action="/register" method="post">
                        <div class="row mb-4">
                            <label for="name" class="form-label">Your Name</label>
                            <div class="col">
                              <input name="name" type="text" class="form-control" id="FirstName" placeholder="Your name" aria-label="Your name">
                            </div>
                          </div>

                          <!-- user -->
                        <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input name="email" type="email" class="form-control" id="Email" aria-describedby="emailHelp">
                          <div class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input name="usersname" type="text" class="form-control" id="Username" aria-describedby="emailHelp">
                            <div class="form-text">User your username to login.</div>
                          </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input name="password" type="password" class="form-control" id="Password">
                          </div>

                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>

                      </form>
                      
                </div>
              </div>
            </div>
    </section>
</body>
</html>