@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,700&family=Nunito:wght@700&family=Roboto:wght@100&display=swap");

:root {
  --pink: #d70f64;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  
}
/* hero */
#hero {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 150vh;
    }
  }
  
  #hero .carousel,
  #hero .carousel-inner,
  #hero .carousel-item,
  #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
  }
  
  #hero .container {
    text-align: center;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  
  #hero p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  }
  
  #hero .carousel-fade {
    overflow: hidden;
  }
  
  #hero .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
  }
  
  #hero .carousel-fade .carousel-inner .carousel-item,
  #hero .carousel-fade .carousel-inner .active.carousel-item-start,
  #hero .carousel-fade .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  
  #hero .carousel-fade .carousel-inner .active,
  #hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-fade .carousel-inner .carousel-item-next,
  #hero .carousel-fade .carousel-inner .carousel-item-prev,
  #hero .carousel-fade .carousel-inner .active.carousel-item-start,
  #hero .carousel-fade .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 10%;
  }
  
  @media (min-width: 1024px) {
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  #hero .carousel-control-next-icon,
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
  }
  
  #hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
    text-decoration: none;
  }
  
  #hero .btn-get-started:hover {
    background: #fff;
    color: #18d26e;
  }
  /* end hero */
  
  
  /* menu */
  .menu-image{
    width: 350px;
    height: 240px;
  }